<html>

<head>

  <title>Inicio</title>

</head>

{% extends "landing/base.html" %}

<body>

  

    {% load static %}

    
<h3 style="text-align: center"> Bienvenido a tu calculadora de IVA</h3>

<section style="text-align: center">
    <br>
    <br>
    <h5>Si deseas sumar un porcentaje de IVA a un precio presiona aquí</h5>
    <br>
    <br>
    <button type="button"><a href="/sumar-iva"> Sumar</a> </button>
</section>

<section style="text-align: center">
    <br>
    <br>
    <h5>Si deseas deducir un porcentaje de IVA a un precio presiona aquí</h5>
    <br>
    <br>
    <button type="button"><a href="/deducir-iva"> Deducir</a> </button>
</section>

</body>


    {% block content %}

    
    {% endblock %}

</body>

</html>