<html>

<head>

  <title>Inicio</title>

</head>

{% extends "landing/base.html" %}



<body>

    {% load static %}


    {% block content %}

        <section>
          
          <div class="container">
            <h1>Sumar IVA</h1>
            <br>
            <div style="width: 75%; margin: auto;">
            <form action="" method="post" style="color: white">
              {% csrf_token %}
                 
             
        
             
              <button type="submit" class="btn btn-success" style="text-align: center;">Sumar</button>
              <div style="color:white">
                {% if messages %}
                      {% for mensaje in messages %}
                          <span class="alert alert-{{mensaje.tags}}">{{mensaje}}</span>
                      {% endfor %}
                {% endif %}
              </div>
              </div>
            </form>
          </div>

        </section>

        <section>
          
          <div class="container">
            <h1>Deducir IVA</h1>
            <br>
            <div style="width: 75%; margin: auto;"></div>
            <form action="" method="post" style="color: white">
              {% csrf_token %}
                 
              
        
             
              <button type="submit" class="btn btn-success" style="text-align: center;">Deducir</button>
              <div style="color:white">
                {% if messages %}
                      {% for mensaje in messages %}
                          <span class="alert alert-{{mensaje.tags}}">{{mensaje}}</span>
                      {% endfor %}
                {% endif %}
              </div>
            </form>
          </div>
          </div>

        </section>
    
    {% endblock %}

</body>
