<html>

<head>

  <title>Inicio</title>

</head>

{% extends "landing/base.html" %}



<body>

    {% load static %}


    {% block content %}

        <section>
          
          <div class="container">
            <h1>Sumar IVA</h1>
            <br>
            <div style="width: 75%; margin: auto;">
              
              <button class="btn btn-success" style="margin-bottom:15px; margin-right: 15px; color: white;">
                <a href="{% url 'Sumar' %}">Sumar</a>
              </button>

            </div>
          </div>

        </section>

        <section>
          
          <div class="container">
            <h1>Deducir IVA</h1>
            <br>
            <div style="width: 75%; margin: auto;">
              <div style="width: 75%; margin: auto;">
              
                <button class="btn btn-success" style="margin-bottom:15px; margin-right: 15px; color: white;">
                  <a href="{% url 'Deducir' %}">Deducir</a>
                </button>
  
              </div>
            
          </div>

        </section>
    
    {% endblock %}

</body>
