<html>

<head>

  <title>Ingresa tu suma</title>

</head>

{% extends "landing/base.html" %}

<body>

  

    {% load static %}
    {% load crispy_forms_tags %}

    {% block content %}
    
      <div class="container" style="width: 75%; margin: auto; margin-top: 30px;">
    <form action="" method="post" style="color: white; text-align: center;">
      {% csrf_token %}
         
      <div style="width: 50%; margin: auto;">
      {{form|crispy}}

     
      <button type="submit" class="btn btn-success" style="text-align: center; margin-top: 30px;">Sumar</button>
      </div>
    </form>
  </div>
  
  
    {% endblock %}

</body>
